<nav class="navbar navbar-expand-lg navbar-light bg-warning">
    <a class="navbar-brand px-3" style="font-size: xx-large;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;" href="#">VOIZFONICA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon "></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto" style="font-size: x-large; font-family: 'Times New Roman', Times, serif;">
        <li class="nav-item " >
          <a class="nav-link px-2 mx-2"  href="#">Home <span class="sr-only"></span></a>
        </li>
       
        
          <li class="nav-item">
            <a class="nav-link px-4" routerLink="/plans">Plans <span class="sr-only"></span></a>
          </li>
          <li class="nav-item dropdown">

            <a class="nav-link dropdown-toggle px-4" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
  
              Login
  
            </a>
  
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
  
              <li><a class="dropdown-item" routerLink="/Login">User Login</a></li>
  
              <li><a class="dropdown-item" routerLink="/SignUp">SignUp</a></li>
  
              <li><a class="dropdown-item" routerLink="/adminLogin">Admin Login</a></li>

  
            </ul>
  
          </li>
          <li class="nav-item ">
            <a class="nav-link px-4" href="/aboutUs">About Us <span class="sr-only"></span></a>
          </li>
          <li class="nav-item ">
            <a class="nav-link px-4" href="#">Contact Us <span class="sr-only"></span></a>
          </li>
          
       
      </ul>
      
    </div>
  </nav>
  
