<!DOCTYPE html>
<html>
    <head>
        <title>
            <p> About Us details</p>
        </title>
    </head>
    <body style="background-color: lightgreen;">
        <div class="container py-5 px-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-200">
                <div class="col-16 col-md-15 col-lg-14 col-xl-30">
                    <div class="card " style="background-color:bisque" >
                        <div class="card-body p-4 text-left">
                            <div class="mb-md-8 mt-md-4 pb-4">
                                
                                <h3 class="font-size mb-2; btn-success" style="font-weight: bolder;color:rgb(15, 6, 6);
                                 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-stretch: extra-condensed; text-align: center; font-size: xx-large;" > About VoizFonica </h3> 
                                 <dl>
                                    <dt>                                    
                                            <h2 style="font-size: xx-large; font-family: 'Times New Roman', Times, serif; font-weight: 400; font-stretch: extra-expanded;" class="btn btn-outlone-success"> <u>HISTORY </u></h2>                                       
                                    </dt>
                                    <dd style="font-size: larger; font-family: serif; padding-left: 50px;">
                                        VoizFonica is a Mobile Network Operator and telephone company. VoizFonica provides network access and telecommunication services that help people and companies communicate in an easy, efficient and environmentally friendly way. VoizFonica business is very technology dependent as company acts as a network service provider (NSP) in mobile. <br>
                                    </dd>  
                                    <dt>                                    
                                        <h2 style="font-size: xx-large; font-family: 'Times New Roman', Times, serif; font-weight: 400; font-stretch: extra-expanded;" class="btn btn-outlone-primary"> <u> SERVICES </u></h2>                                       
                                </dt>  
                                
                                <dd>
                                    <ul type="square" style="font-size: larger; font-family: Georgia, 'Times New Roman', Times, serif; font-style:bold; font-weight: 250; padding-left: 70px;">
                                        <li >PREPAID</li>
                                        <li>POSTPAID</li>
                                        <li>DONGLE</li>
                                    </ul>
                                </dd>
                                <dt>                                    
                                    <h2 style="font-size: xx-large; font-family: 'Times New Roman', Times, serif; font-weight: 400; font-stretch: extra-expanded; " class="btn btn-outlone-primary" ><U >HIGHLIGHTS </U></h2>                                       
                            </dt>  
                            <dd style="font-size: larger; font-family: serif; padding-left: 50px;">
                                The number of telephone subscribers in India increased from 1,194.58 million at the end of Mar-17 to 
                                1,210.84 million at the end of Jun-17, registering a growth of 1.36% over the previous quarter. This 
                                reflects year-on-year (Y-O-Y) growth of 14.25% over the same quarter of last year. The overall Teledensity in India increased to 93.98 at the end of Jun-17 from 92.98 at the end of the previous quarter.<br><br>
                                VoizFonica, established in the year 2010, has recorded substantial growth in terms of profit and market 
                                share(current market share in India is 8.9%, where in 2017 was 5.6% and in 2016 was 3.9%). But the 
                                market share of the company is not matching the overall Tele-density growth<br> ratio in India, due to the 
                                limitations in the legacy system of the company.
                            </dd> 
                            <br>
                            <div class="d-grid gap-2  col-2  mx-auto">
                                
                                <input type="submit" name="submit" value="Back to home page" class="btn btn-primary" id="button" style="font-size: x-large; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;" routerLink="/bckhome">                               
                              </div>
                            </dl> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </body>
    </html>


                           
                                       
                                    
                                    
                                  

                                        
                                        


                                
                                


                                        
                                        
                        
                                        
                                    
                                 
                                                 
                        



























   
