<div class="container" style="padding-top: 25px; font-size: larger; font-family: serif;"  >
    <!-- <img src="../../../../assets/images/c3.jpg" class="img-fluid" alt="..."> -->
      <div class="accordion" id="accordionPanelsStayOpenExample">
          <div class="accordion-item" >
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne" style="font-family: 'Times New Roman', Times, serif; font-size: x-large;">
                  <strong>1. Can a pre-paid subscriber migrate to post-paid and vice-versa?</strong>
                
              </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
              <div class="accordion-body">
                <strong>Yes, </strong>migration from pre-paid to post-paid and vice-versa is allowed without any migration charge and without having change in mobile number.
              </div>
            </div>
          </div>
  
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo" style="font-family: 'Times New Roman', Times, serif; font-size: x-large;">
              <strong>2. Can a prepaid subscriber avail any services even after his talk time is exhausted?</strong>
              </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
              <div class="accordion-body">
                  Services which do not affect talk time value, including incoming voice calls and SMS shall continue to be available to the prepaid subscribers during validity period even after talk time value has exhausted.
              </div>
            </div>
          </div>
  
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree" style="font-family: 'Times New Roman', Times, serif; font-size: x-large;">
               <strong>3. How the post-paid subscribers will know his | her credit limit?</strong>
              </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
              <div class="accordion-body">
                  Credit limit is set for every post-paid subscriber and it is mandatory for Service Providers to convey the same to the consumers in advance. The initial credit limit has to be intimated within 7 days of activation of the service. Consequences of charges exceeding the credit limit as well as the manner in which the credit limit can be enhanced is to be informed to the subscriber in advance.
                  The credit limit set for a post-paid customer is to be included in monthly statement / bill.
              </div>
            </div>
          </div>
  
          <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo" style="font-family: 'Times New Roman', Times, serif; font-size: x-large;">
                <strong>4. Is it mandatory for operators to convey to post-paid subscribers all compulsory fixed charges?</strong>
                </button>
              </h2>
              <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                <div class="accordion-body">
                    <strong>Yes, </strong>
                  all monthly fixed charges, which are compulsory under a given tariff plan are to be shown under one head, for clarity and comparison of different tariff plans on offer.
                </div>
              </div>
            </div>
  
            <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo" style="font-family: 'Times New Roman', Times, serif; font-size: x-large;">
                <strong>5. Can the wireless Internet connection be misused?</strong>
                </button>
              </h2>
              <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                <div class="accordion-body">
                    <strong>Yes, </strong>
                   there is a possibility of the wireless Internet connection getting misused, particularly if the Internet access is provided through Wi-Fi. To avoid that one should use proper authentication methods by using secured password and user name.
                </div>
              </div>
            </div>
  
            <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo" style="font-family: 'Times New Roman', Times, serif; font-size: x-large;">
                <strong>6. Will keeping the modem on make any difference in the download limits?</strong>
                </button>
              </h2>
              <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                <div class="accordion-body">
                    <strong>Yes, </strong>
                    it can make some difference. When the PC and Modem is kept on, there is a trickling of packets from the Internet into the system, even though the PC is not connected to the Internet. Therefore, it is advisable to keep the modem off when one is not accessing Internet.
                </div>
              </div>
            </div>
  
            <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo" style="font-family: 'Times New Roman', Times, serif; font-size: x-large;">
                <strong>7. What is the minimum download speed prescribed for broadband service provider?</strong>
                </button>
              </h2>
              <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                <div class="accordion-body">
                  As per quality of service of broadband service (Second Amendment) regulations, 2014 a minimum download speed of 512 kbps will be provided to an individual subscribers by the service provider.
                </div>
              </div>
            </div>
          </div>
      </div>    
  
      <!-- complain raising form-->
  <div class="container py-2 px-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-200">
          <div class="col-16 col-md-15 col-lg-10 col-xl-8">
              <div class="card " style="background-color:thistle;" >
                  <div class="card-body p-4 text-center">
                      <div class="mb-md-8 mt-md-4 pb-4">                        
                          <h3 class="font-size mb-2" style="font-weight: bolder; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-stretch: extra-condensed;" > Still have any questions? Contact us to get your answer! </h3> <br> 
                          <form (ngSubmit)="raiseComplain()" >
                          <div class="mb-3 row">
                              <label for="inputPassword" class="col-lg-3 col-form-label" style="font-size: larger; font-family: Georgia, 'Times New Roman', Times, serif;" >EMAIL-ID</label>
                              <div class="col-lg-8">
                                <input type="email" class="form-control-lg" id="email-id" placeholder="Enter your email id" name="email" [(ngModel)]="complains.email"  />
                              </div>
                            </div>
                            <!-- <div class="mb-3 row">
                              <label for="input-group-text" class="col-lg-3 col-form-label" style="font-size: larger; font-family: Georgia, 'Times New Roman', Times, serif;">MESSAGE</label>
                              <div class="col-lg-8">
                                <input type="text" class="form-control" placeholder="Enter your query here">
                              </div>
                            </div> -->
                            <div class="form-floating">
                              <input class="form-control-lg" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px" name="query" [(ngModel)]="complains.query"   />
                              <label for="floatingTextarea2" >Type your query's....</label>
                            </div>
                            
                            <br>  
                            <div class="d-grid gap-5 mx-auto">                            
                              <input type="submit" name="submit" value="SEND" class="btn btn-danger"  style="font-size: x-large" />                               
                            </div>
                            </form>
                             
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  
            
  
        
  
  
