<div class="container" style="padding-top: 25px; padding-left:50px ;">
    
    <div class="card w-90 border-warning mb-3" >
        <h5 class="card-header"> Entertainment RS: 999</h5>
        <div class="card-body">
          <h5 class="card-title" style="font-weight: bolder;">Validity: Monthly Rental</h5>
          <p class="card-text">
            <ul>
              <li> Internet - Unlimited</li>
              <li> Speed - Upto 200Mbps</li>
              <li>Unlimited local/STD calls</li>            
          <li> Disney + Hotstar, FasTag, Apollo and Wynk premium ( special benefits).</li>     
        </ul>
          <a  class="btn btn-danger" routerLink="/plans/dongleplans/chosen">BUY NOW</a>
        </div>
      </div>

      <div class="card w-90 border-warning mb-3" >
        <h5 class="card-header">Basic RS: 499</h5>
        <div class="card-body">
          <h5 class="card-title" style="font-weight: bolder;">Validity: Monthly Rental</h5>
          <p class="card-text">
            <ul>
              <li> Internet - Unlimited</li>
              <li> Speed - Upto 40Mbps</li>
              <li>Unlimited local/STD calls</li>            
          <li> Disney , FasTag, Apollo and Wynk ( special benefits).</li>     
        </ul>
          <a  class="btn btn-danger" routerLink="/plans/dongleplans/chosen">BUY NOW</a>
        </div>
      </div>

      <div class="card w-90 border-warning mb-3" >
        <h5 class="card-header">Standard RS: 799</h5>
        <div class="card-body">
          <h5 class="card-title" style="font-weight: bolder;">Validity: Monthly Rental</h5>
          <p class="card-text">
            <ul>
              <li> Internet - Unlimited</li>
              <li> Speed - Upto 100Mbps</li>
              <li>Unlimited local/STD calls</li>                       
          <li> Disney , FasTag, Apollo and Wynk ( special benefits).</li>     
        </ul>
          <a  class="btn btn-danger" routerLink="/plans/dongleplans/chosen">BUY NOW</a>
        </div>
      </div>
</div>




