<body background="../../assets/images/userlanding.webp"  style="background-clip: content-box;">
    <div class="container">
        <div class="row">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end background ">
                <button type="button" class="btn btn-dark" routerLink="/Login">Logout</button>
            </div>
        </div>
    </div>    
    <div class="container-Fluid vh-90"  style="padding: 100px;">
    <div class="row row-cols-1 row-cols-md-3 g-6">
        <div class="col">
          <div class="card">
            <img src="../../assets/images/customerservice.jpg"   class="card-img-top" alt="...">
            <div class="card-body">
                <div class="d-grid gap-2 col-12 mx-auto">
                    <button class="btn btn-primary" type="button" routerLink="/complains"  style="font-size: x-large; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">FAQ'S & RAISE A QUERY</button>                 
                  </div>
                
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="../../assets/images/recharge.png"  class="card-img-top" alt="...">
            <div class="card-body">
                <div class="d-grid gap-2 col-10 mx-auto">
                    <button class="btn btn-danger" type="button" routerLink="/recharge" style="font-size: x-large; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;" >RECHARGE PLANS</button>                 
                  </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="../../assets/images/aboutus.png"   class="card-img-top" alt="...">
            <div class="card-body">
                <div class="d-grid gap-2 col-10 mx-auto">
                    <button class="btn btn-success" type="button" routerLink="/aboutUs" style="font-size: x-large; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;" >ABOUT</button>                 
                  </div>
                </div>
          </div>
        </div>
      </div>
      
    </div>
    </body>