
<section class="vh-100 gradient-custom">
    <div class="container py-5 h-50">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5 w-50">
        
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
              <div class="mb-md-1 mt-md-4 pb-2">
               <h2 class="fw-bold mb-1 text-uppercase">Sign Up</h2>
                <p class="text-white-50 mb-3">Welcome To VoizFonica</p>
                <form (ngSubmit)="signup()" >

                  <div class="row">
                <div class="form-outline form-white mb-4 col">
                    <label class="form-label" for="firstname">Firstname</label>
                    <input  type="text" id="firstname" class="form-control form-control-lg" name="firstname"  [(ngModel)]="newuser.firstname"   />
            
                   
                  </div>
                  <div class="form-outline form-white mb-4 col">
                    <label class="form-label" for="lastname">Lastname</label>
                    <input type="text" id="lastname" class="form-control form-control-lg" name="lastname" [(ngModel)]="newuser.lastname" />
                    
                  </div>

                </div>
                <div class="row">
                  <div class="form-outline form-white mb-4 col">
                    <label class="form-label" for="email">Email</label>
                    <input type="email" id="email" class="form-control form-control-lg" name="email" [(ngModel)]="newuser.email"  />
                   
                  </div>
                 

                </div>

                <div class="row">
                
                  <div class="form-outline form-white mb-4 col">
                    <label class="form-label" for="password">Enter Password</label>
                    <input type="password" id="password" class="form-control form-control-lg" name="password"  [(ngModel)]="newuser.password" />
                    
                  </div>
                  
                </div>
                  <!-- <button class="btn btn-outline-dark btn-lg px-5" type="submit">Sign Up</button> -->
                  <input type="submit" class="btn btn-primary btn-lg px-5 mt-3" value="Sign Up">
                </form>
                </div>
                </div> 
                
              </div> 
              
            </div> 
       </div>  

        </div>   
      </section>