<br><br><br><br><br><br>
<div class="container py-5 h-150" style="padding-top: 85rem;"><br>
    <div class="row d-flex justify-content-center align-items-center h-180">
        <div class="col-12 col-md-8 col-lg-6 col-xl-15">
            <div class="card ">
                <div class="card-body p-25 text-center">  
                    <div>
                        {{plans.price}}<br>
                        {{plans.description}}<br>
                        {{plans.validity}}
                    </div>
                                     
                    <input type="submit" name="submit" value="Proceed with Payment" class="btn btn-primary"  id="button" style="font-size: x-large; font-family: 'Times New Roman', Times, serif;font-weight: bolder;" (click)="saveinbackend()"><br><br>                            

                    <div class="d-grid gap-2 d-md-flex justify-content-md-left" style="font-size: x-large; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ; font-weight: 500;">                        
                    <input type="submit" name="back to plans" value="<----back to plans" class="btn btn-outline-danger" routerLink="/plans/prepaidplans"> 
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  
