  
<body style="background-color: peachpuff; padding-top: 25px; height: 90vh;">
    <div class="card-body">
        <p><u> <h2 style="text-align: center; font-size: xx-large; font-family: Georgia, 'Times New Roman', Times, serif;" > VOIZFONICA </h2>
            <h4 style="text-align: center; font-size:x-large; font-family: Georgia, 'Times New Roman', Times, serif; " > Recharge Done </h4>
        </u>
    <div class="container" style="padding-top: 45px; padding-bottom: 10px; ">
        <div class=" row row-cols-1 row-cols-md-3 g-1 " style="display: flex; justify-content: center;">
            <!--card 1-->
            <div class="col">
              <div class="card h-">
                <div class="card-body">
                    <h5 class="card-title" style="font-size: xx-large; font-family: Arial, Helvetica, sans-serif;text-align: center; font-weight: bolder; color:magenta;">ThankYou!</h5>
                  <h5 class="card-title" style="font-size: medium; font-family: Arial, Helvetica, sans-serif;text-align: center; font-weight: bolder; color:magenta;">Payment Bill</h5>
                  <p class="card-text" style="padding-left: 45px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif"><span style="font-weight:bold;">Email: </span> {{plans.email}}</p>
    
                  <p class="card-text" style="padding-left: 45px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif"><span style="font-weight:bold;">Price: Rs.</span> {{plans.price}}</p>
                  <p class="card-text" style="padding-left: 45px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif"><span style="font-weight:bold;">Validity: </span> {{postpaidplans.validity}} Days</p>
                  <p class="card-text" style="padding-left: 45px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif"><span style="font-weight:bold;">Description: </span> {{plans.description}}</p>
                 
                  <div class="d-grid gap-2 col-6 mx-auto">
                    <button class="btn btn-primary" type="button" style="font-family: 'Times New Roman', Times, serif; text-align: center; font-weight: bolder" routerLink="/plans/prepaidplans">Go Back </button>                
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
    </div>
    </body>
  
    
                        


                              
                            
                            

                            
                            
                                
                                                               
                             
                        
                    
