<body style="background-color:lightskyblue; padding-top: 25px;">
    <div class="container-fluid vh-100">
        <p><u> <h2 style="text-align: center; font-size: xx-large; font-family: Georgia, 'Times New Roman', Times, serif; padding-top: 50px;" > SERVICES PROVIDED BY VOIZFONICA </h2></u>
    <div class="container" style="padding-top: 45px; ">
        <div class="row row-cols-1 row-cols-md-3 g-6">
            <!--card 1-->
            <div class="col">
              <div class="card ">
                <img src="../../assets/images/prepaidpic.jpg" height="40%" width="80%" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title" style="font-size: xx-large; font-family: Arial, Helvetica, sans-serif;text-align: center; font-weight: bolder; color:magenta;">PREPAID</h5>
                  <p class="card-text" style="padding-left: 85px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"text-align="center" >click to view  more about plans</p>
                  <div class="d-grid gap-2 col-6 mx-auto">
                    <button class="btn btn-primary" type="button" style="font-family: 'Times New Roman', Times, serif; text-align: center; font-weight: bolder" routerLink="/plans/prepaidplans">View plans </button>                
                  </div>
                </div>
              </div>
            </div>
    
            <!--card-2-->
    
            <div class="col">
              <div class="card h-65">
                <img src="../../assets/images/pre4.jpg" height="40%" width="80%" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title" style="font-size: xx-large; font-family: Arial, Helvetica, sans-serif;text-align: center; font-weight: bolder; color: green;" >POSTPAID</h5>
                  <p class="card-text" style="padding-left: 85px; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif" >click  to view more about plans</p>
                  <div class="d-grid gap-2 col-6 mx-auto">
                    <button class="btn btn-primary" type="button" style="font-family: 'Times New Roman', Times, serif; text-align: center; font-weight: bolder" routerLink="/plans/postpaidplans" >View plans </button>                
                  </div>
                </div>
              </div>
            </div>
    
            <!--card-3-->
            
            <div class="col">
              <div class="card h-70">
                <img src="../../assets/images/dongle2.jpg"  height="38%" width="80%" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title" style="font-size: xx-large; font-family: Arial, Helvetica, sans-serif;text-align: center; font-weight: bolder;color: red; ">DONGLE</h5>
                  <p class="card-text" style="padding-left: 85px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; ">click  to view more about plans</p>            
    
                  <div class="d-grid gap-2 col-6 mx-auto" >
                    <button class="btn btn-primary" type="button" style="font-family: 'Times New Roman', Times, serif; font-weight: bolder;" routerLink="/plans/dongleplans">View plans </button>
                    
                  </div>
    
    
    
    
    
    
    
                </div>
              </div>
            </div>
            
          </div>
        </div>
    </div>
    </body>
